---
import { getCollection } from 'astro:content';
import BaseLayout from '../../../layouts/BaseLayout.astro';
import PostList from '../../../components/PostList.astro';
import Pagination from '../../../components/Pagination.astro';
import CategoryCloud from '../../../components/CategoryCloud.astro';
import { formatCategory } from '../../../lib/utils';
import JSONLD from '../../../components/JSONLD.astro';

export async function getStaticPaths({ paginate }) {
  const allPosts = await getCollection('blog');
  
  const postsByCategory = new Map<string, any[]>();
  allPosts.forEach(post => {
    const category = post.slug.split('/')[0];
    if (!postsByCategory.has(category)) {
      postsByCategory.set(category, []);
    }
    postsByCategory.get(category)?.push(post);
  });

  const paths = [];

  for (const [category, posts] of postsByCategory.entries()) {
    const sortedPosts = posts.sort(
      (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
    );
    
    paginate(sortedPosts, {
      params: { category },
      pageSize: 2,
    }).forEach(paginatedResult => {
      paths.push(paginatedResult);
    });
  }

  return paths;
}

// Fetch all categories for the cloud component
const allPosts = await getCollection('blog');
const allCategories = allPosts.map(post => post.slug.split('/')[0]);
const uniqueCategories = [...new Set(allCategories)];


const { page } = Astro.props;
const { category } = Astro.params;
const { data: paginatedPosts } = page;

const categoryTitle = formatCategory(category);

const Schema = {
  "@context": "https://schema.org",
  "@type": "CollectionPage",
  "name": `${categoryTitle} Articles`,
  "description": `All articles filed under the ${categoryTitle} category.`,
  "url": new URL(Astro.url.pathname, Astro.site).toString(),
  "mainEntity": {
    "@type": "ItemList",
    "itemListElement": allPosts.map((post, index) => ({
      "@type": "ListItem",
      "position": index + 1,
      "url": new URL(`/blog/${post.slug}`, Astro.site).toString(),
      "name": post.data.title
    }))
  }
};
---

<BaseLayout title={`Posts in: ${categoryTitle}`} description={`All blog posts filed under the ${categoryTitle} category.`}>
  <JSONLD schema={Schema} slot="head" />
  <main>
    <CategoryCloud categories={uniqueCategories} activeCategory={category} />

    <PostList posts={paginatedPosts} />
    <Pagination page={page} />
  </main>
</BaseLayout>

<style>
  .category-name {
    background-color: #f0f0f0;
    padding: 0.2em 0.6em;
    border-radius: 4px;
    font-weight: bold;
  }
</style>